<footer class="pull-right">
  <p><strong>Scarpy Interservice</strong> | Data Service | Private researchers</p>
  <ul>
        <!-- Secondary links -->
    <li style="font-size: 165%;"><em><%= link_to "Legal", "" %></em></li>
  </ul>
</footer>
