<hr />
<footer class="row">

    <div class="col-md-2">
     <em>&copy 2017 &trade;&spades;</em>
   </div>

  <div class="col-md-8">
  <p><strong>Scarpy Interservice &reg;</strong> | Data Service | Private researchers</p>
   </div>
  <div class="col-md-2">
        <!-- Secondary links -->
    <h4 class="bold"><em><%= link_to "Legal", "" %></em></h4>
 
 </div>

</footer>
