<% @musterrs.each do |musterr| %>
<div class="row">
 <div class = "col-md-4 col-md-offset-4 center">
  <h5><%= musterr.company %></h5>
  <h5>Contact: <%= musterr.contact %></h5>
  <h5><%= musterr.address %></h5>
  <h5>Switzerland</h5>
 <hr />
 <br/>
 <br/>
 </div>
</div>
<% end %>

